/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Font */

body {
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
}

/* Content Wrapper */

#content {
	position: relative;
}

/* Sort Bar */

#sortBar {
	display: flex;
	justify-content: flex-end;
	background-color: #000000a8;
}


/* Label */
#groupChannels label {
	display: flex;
	position: relative;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
	background-color: #ddd;
	border: 2px solid #f91bf9;
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
}

#groupChannels label:hover {
	background-color: white;
}

/* Input */
#groupChannelsSort {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Checkbox */
.checkCustom {
	width: 25px;
	height: 25px;
	margin-right: .5rem;
	position: relative;
	background-color: #eee;
	border-radius: 50%;
	cursor: pointer;
}

/* On hover */
#groupChannels:hover input ~ .checkCustom {
	background-color: #ccc;
}

/* After checked */
#groupChannels input:checked ~ .checkCustom {
	background-color: #2196F3;
}

/* Additional styling inside checkbox */
.checkCustom:after {
	content: '';
	display: none;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 34%;
	left: 35%;
	border-radius: 50%;
	background: white;
}

#groupChannels input:checked ~ .checkCustom:after {
	display: block;
}


#dateSort {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
	background-color: #ddd;
	border: 2px solid red;
	border-radius: 5px;
	cursor: pointer;
}

#dateSort:hover {
	background-color: white;
}

#dateSort .dropdownToggle {
	display: block;
	font-weight: 700;
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: #ddd;
	border: 2px solid red;
	border-radius: 5px;
	white-space: nowrap;
}

.dropdown a {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
}

.dropdown a:hover {
	background-color: rgb(255, 204, 204)
}

.dropdown-empty,
.dropdown-current {
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	margin-right: .5rem;
	background-color: #2196F3;
	border-radius: 50%;
}

.dropdown-current:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 34%;
	left: 35%;
	border-radius: 50%;
	background: white;
}

.dropdown-empty {
	visibility: hidden;
}


/* Song List */

#songList {
	max-width: 50vw;
	margin: 0 auto;
}

.song {
	margin: 2rem auto;
	padding-bottom: 1rem;
	display: grid;
	grid-template-columns: 160px 1fr;
	grid-column-gap: 2vw;
	grid-row-gap: 1vw;
	grid-template-areas:
		'embed title'
		'embed link'
		'embed info';
	border-bottom: 1px solid black;
}

.song-embed {
	width: 100%;
	grid-area: embed;
	justify-self: end;
}

.song-title {
	padding-top: .25rem;
	grid-area: title;
	justify-self: start;
	font-size: 1rem;
	font-weight: bold;
}

.song-link {
	grid-area: link;
	justify-self: start;
	align-self: center;
	color: blue;
}

.song-link:hover {
	opacity: 0.5;
}

.song-info {
	padding-bottom: .25rem;
	grid-area: info;
	align-self: end;
	display: flex;
	justify-content: space-between;
}

.song-channel {
	margin-right: .5rem;
}

/* Youtube Lazy Loading */

.youtube {
	background-color: #000;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}

.youtube img {
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.youtube .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 3px rgba(0,0,0,0.6);
	z-index: 1;
	opacity: 0.8;
	border-radius: 6px;
}

.youtube .play-button:before {
	content: '';
	border-style: solid;
	border-width: 15px 0 15px 26px;
	border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
	cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

/* ChannelBox */

#channelBox {
	position: fixed;
	top: 33%;
	margin-left: 1rem;
	box-shadow: 0px 0px 7px 3px #f2d4d4;
}

.box-title {
	padding: .5rem;
	font-size: 1.1rem;
	font-weight: 700;
	text-align: center;
}

.filter-all {
	padding: .5rem 0;
	margin: 0 .5rem;
	border-radius: 4px;
	border: 1px solid blue;
	text-align: center;
	cursor: pointer;
}

.filter-all:hover {
	background-color: #ffffbf;
	opacity: .8;
}

.filter-channel {
	padding: .25rem;
	cursor: pointer;
}

.filter-channel:hover {
	background-color: #ffffbf;
	opacity: .8;
}

.filter-title {
	text-transform: capitalize;
}
